environment: development

database:
  driver: postgresql
  partition: true
  uri: postgres://postgres:password@localhost:5432/postgres

redis:
  uri: redis://localhost:6379/0

rss3_chain:
  endpoint_l2: https://rpc.testnet.rss3.io

settler:
  wallet_address:
  signer_endpoint: http://localhost:3000
  gas_limit: 3000000

gateway:
  api:
    listen:
      host: "0.0.0.0"
      port: 5555
      prom_port: 9000
    jwt_key: abcdefg1234567
    siwe_domain: "localhost:3000"
  kafka:
    brokers:
      - "localhost:19092"
    topic: "gateway.log.access"
  etcd:
    endpoints:
      - "localhost:2379"

billing:
  ru_per_token: 1000
  slack_notification:
    blockchain_scan: "https://scan.testnet.rss3.io/tx/"
